DATABASE_NAME = connector
DATABASE_USER = postgres
DATABASE_PASSWORD = password # Replace it with a secure password

MINIO_ACCESS_KEY = minioadmin # Replace it with a secure access key
MINIO_SECRET_KEY = minioadmin # Replace it with a secure secret key
MINIO_USE_SSL = false 
BUCKET_NAME = connector # Replace with the name of the bucket you want

KC_URL = # Suite5 will provide this information
KC_REALM = # Suite5 will provide this information
KC_CLIENT_ID = # Suite5 will provide this information
KC_CLIENT_SECRET = # Suite5 will provide this information

CLOUD_CATALOG_URL = https://dataspace.airedgio50.s5projects.eu/

# UI
FRONTEND_URL = https://your-domain.com # Use the public domain you configure in Nginx
AUTH_SECRET = "" 
KC_FE_CLIENT_ID = # Suite5 will provide this information